beautifulsoup4
imbalanced_learn
joblib
matplotlib
numpy
pandas
plotly
PyYAML
Requests
scikit_learn
seaborn
streamlit
streamlit_plotly_events
xgboost
kaleido
SQLAlchemy
build
git+https://github.com/streamlit/files-connection
mysql-connector-python
pipreqs
s3fs
scipy
snakeviz
sphinx
sphinx_rtd_theme
tqdm

